<div class="tenebre-settings">


  <h2>{{localize "TENEBRE.Settings.RationsGroup"}}</h2>
  <label>
    <span>{{localize "TENEBRE.Settings.EnableRations"}}</span>
    <input type="checkbox" name="enableRations" {{checked settings.enableRations}}>
  </label>
  <label>
    <span>{{localize "TENEBRE.Settings.RationUses"}}</span>
    <input type="number" name="rationUses" value="{{settings.rationUses}}" min="1">
  </label>

  <h2>{{localize "TENEBRE.Settings.AmmoGroup"}}</h2>
  <label>
    <span>{{localize "TENEBRE.Settings.EnableAmmoConsumption"}}</span>
    <input type="checkbox" name="enableAmmoConsumption" {{checked settings.enableAmmoConsumption}}>
  </label>
  <label>
    <span>{{localize "TENEBRE.Settings.EnableHitTracking"}}</span>
    <input type="checkbox" name="enableHitTracking" {{checked settings.enableHitTracking}}>
  </label>
  <label>
    <span>{{localize "TENEBRE.Settings.EnableAmmoRecovery"}}</span>
    <input type="checkbox" name="enableAmmoRecovery" {{checked settings.enableAmmoRecovery}}>
  </label>
  <label>
    <span>{{localize "TENEBRE.Settings.ShowAmmoRecoveryHud"}}</span>
    <input type="checkbox" name="showAmmoRecoveryHud" {{checked settings.showAmmoRecoveryHud}}>
  </label>
  <label>
    <span>{{localize "TENEBRE.Settings.ShowQuiverHud"}}</span>
    <input type="checkbox" name="showQuiverHud" {{checked settings.showQuiverHud}}>
  </label>
  <label>
    <span>{{localize "TENEBRE.Settings.ShowSpecialAmmoInChat"}}</span>
    <input type="checkbox" name="showSpecialAmmoInChat" {{checked settings.showSpecialAmmoInChat}}>
  </label>

  <h2>{{localize "TENEBRE.Settings.RestGroup"}}</h2>
  <label>
    <span>{{localize "TENEBRE.Settings.EnableHunger"}}</span>
    <input type="checkbox" name="enableHunger" {{checked settings.enableHunger}}>
  </label>
  <label>
    <span>{{localize "TENEBRE.Settings.EnableRestButton"}}</span>
    <input type="checkbox" name="enableRestButton" {{checked settings.enableRestButton}}>
  </label>
  <label>
    <span>{{localize "TENEBRE.Settings.EnableRestHealing"}}</span>
    <input type="checkbox" name="enableRestHealing" {{checked settings.enableRestHealing}}>
  </label>
  <label>
    <span>{{localize "TENEBRE.Settings.RestHealing"}}</span>
    <input type="number" name="restHealing" value="{{settings.restHealing}}" min="0">
  </label>

  <h2>{{localize "TENEBRE.Settings.EncumbranceGroup"}}</h2>
  <label>
    <span>{{localize "TENEBRE.Settings.EnableEncumbrance"}}</span>
    <input type="checkbox" name="enableEncumbrance" {{checked settings.enableEncumbrance}}>
  </label>
  <label>
    <span>{{localize "TENEBRE.Settings.EnableContainers"}}</span>
    <input type="checkbox" name="enableContainers" {{checked settings.enableContainers}}>
  </label>

  <h2>{{localize "TENEBRE.Settings.MovementGroup"}}</h2>
  <label>
    <span>{{localize "TENEBRE.Settings.EnableMovementRuler"}}</span>
    <input type="checkbox" name="enableMovementRuler" {{checked settings.enableMovementRuler}}>
  </label>
  <label>
    <span>{{localize "TENEBRE.Settings.MovementUnitSystem"}}</span>
    <select name="movementUnitSystem">
      <option value="meters" {{#if movementUnitMetersSelected}}selected{{/if}}>{{localize "TENEBRE.Settings.MovementUnitMeters"}}</option>
      <option value="feet" {{#if movementUnitFeetSelected}}selected{{/if}}>{{localize "TENEBRE.Settings.MovementUnitFeet"}}</option>
    </select>
  </label>
  <label>
    <span>{{localize "TENEBRE.Settings.MovementBaseMeters"}}</span>
    <input type="number" name="movementBaseMeters" value="{{settings.movementBaseMeters}}" min="0" step="0.5">
  </label>
  <label>
    <span>{{localize "TENEBRE.Settings.MovementBaseFeet"}}</span>
    <input type="number" name="movementBaseFeet" value="{{settings.movementBaseFeet}}" min="0" step="5">
  </label>

  <h2>{{localize "TENEBRE.Settings.CombatGroup"}}</h2>
  <label>
    <span>{{localize "TENEBRE.Settings.EnableManeuvers"}}</span>
    <input type="checkbox" name="enableManeuvers" {{checked settings.enableManeuvers}}>
  </label>
  <label>
    <span>{{localize "TENEBRE.Settings.EnableModernChat"}}</span>
    <input type="checkbox" name="enableModernChat" {{checked settings.enableModernChat}}>
  </label>
  <label>
    <span>{{localize "TENEBRE.Settings.ModernChatStyle"}}</span>
    <select name="modernChatStyle">
      <option value="illustrated" {{#if modernChatStyleIllustratedSelected}}selected{{/if}}>{{localize "TENEBRE.Settings.ModernChatStyleIllustrated"}}</option>
      <option value="legacy" {{#if modernChatStyleLegacySelected}}selected{{/if}}>{{localize "TENEBRE.Settings.ModernChatStyleLegacy"}}</option>
    </select>
  </label>
  <label>
    <span>{{localize "TENEBRE.Settings.EnableChatItemUse"}}</span>
    <input type="checkbox" name="enableChatItemUse" {{checked settings.enableChatItemUse}}>
  </label>
  <label>
    <span>{{localize "TENEBRE.Settings.EnableClearEffectsButton"}}</span>
    <input type="checkbox" name="enableClearEffectsButton" {{checked settings.enableClearEffectsButton}}>
  </label>
  <label>
    <span>{{localize "TENEBRE.Settings.EnableTokenActionHudIntegration"}}</span>
    <input type="checkbox" name="enableTokenActionHudIntegration" {{checked settings.enableTokenActionHudIntegration}}>
  </label>

  <h2>{{localize "TENEBRE.Settings.UtilitiesGroup"}}</h2>
  <label>
    <span>{{localize "TENEBRE.Settings.EnableBithirUtilities"}}</span>
    <input type="checkbox" name="enableBithirUtilities" {{checked settings.enableBithirUtilities}}>
  </label>
  <label>
    <span>{{localize "TENEBRE.Settings.EnableGenerateShadow"}}</span>
    <input type="checkbox" name="enableGenerateShadow" {{checked settings.enableGenerateShadow}}>
  </label>
  <label>
    <span>{{localize "BITHIRMOD.SHADOW_hideGeneration"}}</span>
    <input type="checkbox" name="hideShadowGeneration" {{checked settings.hideShadowGeneration}}>
  </label>
  <label>
    <span>{{localize "BITHIRMOD.SHADOW_hideLabel"}}</span>
    <input type="checkbox" name="hideShadowLabel" {{checked settings.hideShadowLabel}}>
  </label>

  <footer class="sheet-footer flexrow">
    <button type="submit"><i class="fas fa-save"></i> {{localize "TENEBRE.Common.Save"}}</button>
  </footer>
</div>
