<div class="tenebre-settings">


  <h2>{{localize "TENEBRE.Settings.RationsGroup"}}</h2>
  <label>
    <span>{{localize "TENEBRE.Settings.EnableRations"}}</span>
    <input type="checkbox" name="enableRations" {{checked settings.enableRations}}>
  </label>
  <label>
    <span>{{localize "TENEBRE.Settings.RationUses"}}</span>
    <input type="number" name="rationUses" value="{{settings.rationUses}}" min="1">
  </label>

  <h2>{{localize "TENEBRE.Settings.AmmoGroup"}}</h2>
  <label>
    <span>{{localize "TENEBRE.Settings.EnableAmmoConsumption"}}</span>
    <input type="checkbox" name="enableAmmoConsumption" {{checked settings.enableAmmoConsumption}}>
  </label>
  <label>
    <span>{{localize "TENEBRE.Settings.EnableHitTracking"}}</span>
    <input type="checkbox" name="enableHitTracking" {{checked settings.enableHitTracking}}>
  </label>
  <label>
    <span>{{localize "TENEBRE.Settings.EnableAmmoRecovery"}}</span>
    <input type="checkbox" name="enableAmmoRecovery" {{checked settings.enableAmmoRecovery}}>
  </label>
  <label>
    <span>{{localize "TENEBRE.Settings.ShowSpecialAmmoInChat"}}</span>
    <input type="checkbox" name="showSpecialAmmoInChat" {{checked settings.showSpecialAmmoInChat}}>
  </label>

  <h2>{{localize "TENEBRE.Settings.RestGroup"}}</h2>
  <label>
    <span>{{localize "TENEBRE.Settings.EnableHunger"}}</span>
    <input type="checkbox" name="enableHunger" {{checked settings.enableHunger}}>
  </label>
  <label>
    <span>{{localize "TENEBRE.Settings.EnableRestHealing"}}</span>
    <input type="checkbox" name="enableRestHealing" {{checked settings.enableRestHealing}}>
  </label>
  <label>
    <span>{{localize "TENEBRE.Settings.RestHealing"}}</span>
    <input type="number" name="restHealing" value="{{settings.restHealing}}" min="0">
  </label>

  <h2>{{localize "TENEBRE.Settings.EncumbranceGroup"}}</h2>
  <label>
    <span>{{localize "TENEBRE.Settings.EnableEncumbrance"}}</span>
    <input type="checkbox" name="enableEncumbrance" {{checked settings.enableEncumbrance}}>
  </label>

  <h2>{{localize "TENEBRE.Settings.MovementGroup"}}</h2>
  <label>
    <span>{{localize "TENEBRE.Settings.EnableMovementRuler"}}</span>
    <input type="checkbox" name="enableMovementRuler" {{checked settings.enableMovementRuler}}>
  </label>

  <footer class="sheet-footer flexrow">
    <button type="submit"><i class="fas fa-save"></i> {{localize "TENEBRE.Common.Save"}}</button>
  </footer>
</div>
